@model BethanysPieShop.ViewModels.AdminIndexViewModel

@{
    ViewData["Title"] = "Admin Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h3>Pies</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pies) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a asp-controller="Pie" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Pie" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Pie" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Pie" asp-action="Create">Create New Pie</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SubmittedOrders)
        {
        <tr>
            <td>@item.CustomerId</td>
            <td>@item.Total</td>
            <td>
                <a asp-controller="SubmittedOrder" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="SubmittedOrder" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="SubmittedOrder" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="SubmittedOrder" asp-action="Create">Create New Order</a>

